# Ignore everything by default
*

# Except these root files
!README.md
!.gitignore
!docker-compose.yml

# Except these folders (include everything inside)
!caddy/
!cloudflared/
!rclone/
!restic/
!sanoid/
!systemd/
!zpool/
!.github/

# Explicit includes inside restic folder
!restic/backup/
!restic/backup/**
!restic/check/
!restic/check/**
!restic/forget/
!restic/forget/**
!restic/misc/
!restic/misc/restic.restore.sh
!restic/misc/restic.snapshots.sh
!restic/misc/restic.unlock.sh
!restic/misc/restic.locks.sh
!restic/restic.conf

# Explicit includes inside .github workflows
!.github/workflows/
!.github/workflows/**

# Explicit includes inside caddy and cloudflared subfolders
!caddy/Caddyfile
!cloudflared/cloudflared.md

# Include notification subfolders in restic
!restic/backup/ntfy/
!restic/backup/ntfy/**
!restic/check-meta/ntfy/
!restic/check-meta/ntfy/**
!restic/check-data/ntfy/
!restic/check-data/ntfy/**
!restic/forget/ntfy/
!restic/forget/ntfy/**
