# Ignore everything by default
*

# Except these root files
!README.md
!.gitignore
!docker-compose.yml
!archivebox.Dockerfile

# Except these folders (include everything inside)
!audit/
!caddy/
!cloudflared/
!rclone/
!ntfy/
!restic/
!sanoid/
!systemd/
!zpool/
!.github/

# Explicit exclude audit logs
!audit/audit.sh

# Explicit includes inside restic folder
!restic/backup/
!restic/backup/**
!restic/check/
!restic/check/**
!restic/forget/
!restic/forget/**
!restic/misc/
!restic/misc/restic.restore.sh
!restic/misc/restic.snapshots.sh
!restic/misc/restic.unlock.sh
!restic/misc/restic.locks.sh
!restic/restic.conf

# Explicit includes inside .github workflows
!.github/workflows/
!.github/workflows/**``

# Explicit includes inside caddy and cloudflared subfolders
!caddy/Caddyfile
!cloudflared/cloudflared.md

# Explicit includes notification scripts
!ntfy/**
!ntfy/.env

# Explicit includes systemd services
!systemd/**