[Unit]
Description=Restic Check %i
Requires=network-online.target
OnSuccess=system-ntfy@restic.check@%i.service
OnFailure=system-ntfy@restic.check@%i.service

[Service]
Type=oneshot
User=carrein
Group=carrein
Environment="RCLONE_CONFIG=/zpool/catallenya/rclone/.rclone.conf"
ExecStart=/zpool/catallenya/restic/check/restic.check.sh %i
StandardOutput=journal
StandardError=journal