[Unit]
Description=Monthly Restic Check
After=network-online.target
OnSuccess=restic.check.success.ntfy.service
OnFailure=restic.check.failure.ntfy.service

[Service]
Type=oneshot
User=root
Environment="RCLONE_CONFIG=/zpool/catallenya/rclone/.rclone.conf"
ExecStart=/zpool/catallenya/restic/check/restic.check.sh